html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(95, 105, 180);
}


.banner{
    text-align: center;
    color: rgb(248, 245, 245);
    background-color: rgb(53, 58, 99);
    margin: auto;
    border-top: .01rem solid #b7c3ce;
    border-bottom: .01rem solid #adb7c5;
    position: sticky;
    top: 0;
    font-weight: lighter;
}


#down{
    width: 5rem;
    height: 2.5rem;
}
.navbar{
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: lighter;
    background-color: #15263a;
}

li{
    margin-left: 1rem;
    margin-right: 1rem;
}

.About{
    background-color: rgb(75, 125, 180);
    color: #F8F5F5;
}
.Education{
    background-color: rgb(35, 72, 110);
    color: #F8F5F5;
}
.Project{
    background-color: rgb(75, 125, 180);
    color: #F8F5F5;;
}
.Portfolio{
    background-color: rgb(35, 72, 110);
    color: #F8F5F5;;
}
.Contact{
    background-color: rgb(75, 125, 180);
    color: #F8F5F5;
}
p{
    margin-top: 1rem;
}
